.no-bullets {
    list-style-type: none;
    padding-left: 0; 
  }

  /* .navbar-nav .nav-link i, .navbar-nav .dropdown-item i  {
    transition: color 0.3s ease, font-weight 0.3s ease,  text-shadow 0.3s ease;

    
}

.navbar-nav .nav-link:hover i, .navbar-nav .dropdown-item:hover i  {
    color: #FFF000;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
} */



.navbar-nav .nav-link, .navbar-nav .dropdown-item {
  transition: color 0.3s ease, font-weight 0.3s ease, text-shadow 0.3s ease;
}

.navbar-nav .nav-link:hover, .navbar-nav .dropdown-item:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.navbar-nav .nav-link i, .navbar-nav .dropdown-item i {
  margin-right: 5px;
  transition: color 0.3s ease, font-weight 0.3s ease, text-shadow 0.3s ease;
}

.navbar-nav .nav-link:hover i, .navbar-nav .dropdown-item:hover i {
  color: yellow;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title {
  font-size: 3em;
  color: yellow;
  font-weight: bold;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  text-align: center;
  margin: 20px 0;
}

.custom-form {
  background-color: #f8f9fa;
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form .form-label {
  color: yellow;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.custom-form .form-control {
  border: 1px solid #000;
}

.custom-btn1, .custom-btn-outline {
  color: yellow;
  background-color: #000;
  border: 2px solid #000;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}

.custom-btn1:hover, .custom-btn-outline:hover {
  color: #000;
  background-color: yellow;
  text-shadow: none;
}

.custom-btn1-outline {
  background-color: transparent;
}

.custom-btn-outline:hover {
  color: #000;
  background-color: #ffff00;
  text-shadow: none;
}

.title {
  font-size: 3em;
  color: #ffff00; /* Colore scuro per il titolo */
  font-weight: bold;
  text-align: center;
  margin: 20px 0;

}

.title1 {
  font-size: 2em;
  color: #ffff00; /* Colore scuro per il titolo */
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

  
}

.custom-form {
  background-color: #E2E3E5; /* Sfondo bianco per il form */
  border: 3px solid #0c0c0c;
  }

.custom-form .form-label {
  color: #ffff00; /* Colore scuro per le etichette */
  font-weight: bold;
}

.custom-form .form-control {
  border: 1px solid #ced4da;
}

.custom-btn {
  color: #ffffff;
  background-color: #007bff; /* Colore blu per il bottone */
  border: 1px solid #000000;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.custom-btn:hover {
  color: #ffffff;
  background-color: #0056b3; /* Colore blu scuro per il bottone al passaggio del mouse */
}

.custom-link {
  color: #007bff; /* Colore blu per il link */
  font-weight: bold;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #0056b3; /* Colore blu scuro per il link al passaggio del mouse */
}

.custom-btnAccetta {
  color: yellow;
  background-color: #000;
  border: 2px solid #000;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}

.custom-btnAccetta:hover {
  color: #ffffff;
  background-color: rgb(0, 255, 42);
  text-shadow: none;
}

.custom-btnRifiuta {
  color: yellow;
  background-color: #000;
  border: 2px solid #000;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}

.custom-btnRifiuta:hover {
  color: #ffffff;
  background-color: rgb(255, 0, 0);
  text-shadow: none;
}
/* 
.btn-outline-secondary{
  color: yellow;
  background-color: #000;
  border: 2px solid #000;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}

.btn-outline-secondary:hover {
  color: #000;
  background-color: yellow;
  text-shadow: none;
} */

.custom-card {
  width: 18rem;
}

.custom-card-img {
  height: 200px; /* Altezza fissa per tutte le immagini */
  object-fit: cover; /* Mantiene le proporzioni dell'immagine riempiendo l'intera area */
  width: 100%; /* Assicura che l'immagine riempia la larghezza del contenitore */
}



